<!DOCTYPE html>
<html>
  <head>
    <title>Hackersite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
    <%= javascript_pack_tag 'style' %>
    <%= javascript_pack_tag 'timer' %>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
